.App {
  text-align: center;
}

.item1 { grid-area: header; }
.left { grid-area: left; }
.center { grid-area: center; }
.right { grid-area: right; }
.bottom { grid-area: bottom; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'left center center center center right'
    'bottom bottom bottom bottom bottom bottom';
  grid-gap: 5px;
  background-color: #2196F3;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 0;
}